@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Test B2C Application :)</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
